body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.153);
    padding: 10px 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    backdrop-filter: blur(20px); 
    background-color: #00000081;
    border-top: 1px solid #ffffff;
    padding-top: 30px;
}

#progress-bar {
    position: absolute;
    left: 10px;
    right: 10px;
    height: 6px;
    background-color: #242424ec;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    bottom: 35px;
}

#progress-fill {
    height: 100%;
    background-color: #3d3d3d;
    border: 1px solid #646464;
    border-radius: 3px;
    width: 0%;
    transition: width 0.1s linear;
}

#current-time{
    padding-left: 10px;
}
#controlls{
    background-color: #00000081;
    z-index: 10000;
    width: auto;
    position: absolute;
    right:0;
    top:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(20px); 
    border: 1px solid #ffffff;
    border-width: 0px 0px 1px 1px;
    border-bottom-left-radius: 5px;
}
#player{ 
    background-color: #00000081;
    z-index: 10000;
    width: auto;
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(20px); 
    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    border-bottom-right-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    padding: 5px;
    text-align: center;
}
.track-button{
    width: 100%;
    padding: 5px;
    margin: 2px 0;
    background-color: #3d3d3d;
    border: 1px solid #646464;
    color: white;
    font-size: auto;
    cursor: pointer;
    border-radius: 1px;
    font-family:'Courier New', Courier, monospace;
}
.track-button:hover{
    background-color: #646464;
}
#controlls label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}
input[type="file"] {
width:80px;
overflow: hidden;
}
#track-name{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0px;
    z-index: 1000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}