body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.153);
    padding: 10px 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    backdrop-filter: blur(20px); 
    background-color: #00000081;
    border-top: 1px solid #ffffff;
    padding-top: 30px;
}

#progress-bar {
    position: absolute;
    left: 10px;
    right: 10px;
    height: 6px;
    background-color: #242424ec;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    bottom: 35px;
}

#progress-fill {
    height: 100%;
    background-color: #3d3d3d;
    border: 1px solid #646464;
    border-radius: 3px;
    width: 0%;
    transition: width 0.1s linear;
}

#current-time{
    padding-left: 10px;
}
#controlls{
    background-color: #00000081;
    z-index: 10000;
    width: auto;
    position: absolute;
    right:0;
    top:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(20px); 
    border: 1px solid #ffffff;
    border-width: 0px 0px 1px 1px;
    border-bottom-left-radius: 5px;
}
#player{ 
    background-color: #00000081;
    z-index: 10000;
    width: auto;
    position: absolute;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(20px); 
    border: 1px solid #ffffff;
    border-width: 0px 1px 1px 0px;
    border-bottom-right-radius: 5px;
    font-family:'Courier New', Courier, monospace;
    color: white;
    padding: 5px;
    text-align: center;
}
.h1{
    color: white;
    font-size: x-large;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.h2{
    color: white;
    font-size: large;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.list-button{
    width: auto;
    display: flex;
    flex-direction: row;
    width: calc(100% - 10px);
    justify-content: stretch;
    padding: 5px;
    margin: 2px 0;
    background-color: #3d3d3d;
    border: 1px solid #646464;
    color: white;
    font-size: auto;
    cursor: pointer;
    border-radius: 1px;
    font-family:'Courier New', Courier, monospace;
}
.list-button:hover{
    background-color: #646464;
}
#controlls label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    color:white;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}
input[type="file"] {
width:80px;
overflow: hidden;
}
#track-name{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5px;
    left: 0px;
    z-index: 1000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.hide-button{
    background-image: url('Graphics/hide-svgrepo-com.svg');
    position: absolute;
    z-index: 10001;
}
#hide-controlls{
    top: 5px;
    right: 5px;
}
#hide-player{
    top: 5px;
    left: 5px;
}
#layer-header{
    background-color: #00000081;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}
.image-button{
    width: 20px;
    height: 20px;
    background-color: #3d3d3d;
    color: white;
    font-size: auto;
    cursor: pointer;
    border-radius: 1px;
    background-size: cover;
    padding: 2px;
}   
#add-layer{
    background-image: url('Graphics/plus-svgrepo-com.svg');
}
#layer-list{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.layer-item>div{
    display: flex;  
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.move-up{
    background-image: url('Graphics/arrowup-svgrepo-com.svg');
}
.move-down{
    background-image: url('Graphics/arrowdown-svgrepo-com.svg');
}
.remove-layer{
    background-image: url('Graphics/minus-svgrepo-com.svg');
}
.layer-buttons{
    display: flex;
    flex-direction: row;
}
#current-layer-controls{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ffffff;
}
.selected{
    background-color: #ff0000;
}